{{ template "chart.header" . }}

{{ template "chart.deprecationWarning" }}

{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

{{ template "chart.requirementsSection" . }}

{{ template "extra.install" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.valuesSection" . }}
