name: Regression Tests
run-name: ${{ github.actor }} is running ${{ github.event.inputs.suite }} suite

on:
  workflow_dispatch:
    inputs:
      suite:
        description: 'Suite to run'
        required: true
        default: 'smoke'
        type: choice
        options:
          - 'smoke'

jobs:
    smoke:
      name: smoke
      if: ${{ inputs.suite == 'smoke' }}
      runs-on: ubuntu-latest
      timeout-minutes: 60

      steps:
        - name: Checkout
          uses: actions/checkout@v4
          with:
            ref: ${{ github.ref }}
            fetch-depth: 0

        - name: Setup
          uses: ./.github/actions/test-setup

        - name: Run Test Module
          run: |
            python3 ./tests/run/smoke.py 
